/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

@media screen and (min-width: 600px) {
  body {
    overflow: hidden;
  }
}

button {
  outline: none;
}

a:link,
a:active,
a:visited {
  text-decoration: none;
  cursor: pointer;
  color: inherit;
}
